{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="col col-lg-6">
        {% for module in moduleArr %}
            <div class="row">
            <a href="/assessment?MID={{ module.getID() }}">
            <p> {{ module.getName() }}</p>
                </div>
        {% endfor %}
            </a>
    </div>

    <div class="col col-lg-6">
    <!-- Trigger/Open The Modal -->

    <button id="upMarksBtn">Upload Marks</button><br>

    <!-- The Modal -->
    <div id="upMarksModal" class="row modal">

      <!-- Modal content -->
      <div class="modal-content">
        <p>Upload your Students' Marks here. (.csv only)</p>
        <div>
          <form action="/uploadMarks" method="POST" enctype="multipart/form-data">
            <input name="marksFile" id="marksFile" type="file" accept=".csv"/>
            <input type="submit" value="submit">
          </form>
        </div>
      </div><br>
    </div> <!-- Modal Closing Tag -->
        <button><a href="/add_assessment">Add Assessment</a></button><br>
        <button><a href="/add_component">Add Component</a></button>
    </div>
    </div>
<script>
    // FEEDBACK MODAL
    var mModal = document.getElementById("upMarksModal");

    // Get the button that opens the modal
    var mBtn = document.getElementById("upMarksBtn");

    // Get the <span> element that closes the modal
    var mSpan = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    mBtn.onclick = function() {
        mModal.style.display = "block";
      }
     // When the user clicks anywhere outside of the modal, close it
     window.onclick = function(event) {
        if (event.target == mModal) {
          mModal.style.display = "none";
        }
    }
</script>
{% endblock content %}
