{% extends "layout.html" %}
{% block content %}
    <div class="col-md-3"></div>
    <div class="col-md-9">
        <h1>Projects</h1>
    <hr>

{% for assess in assessArr %}

{#    <a href="/component?AID={{ assess.getID() }}">#}
    {% set count = namespace(value=0) %}
    {% set barclassarr = ["bar learning","bar basic","bar intermediate"] %}
    {% for component in assess.getChildrenList() %}
        {% set count.value = count.value + ((component.getMark()/50) * component.getWeight()) %}
        {{ count.value }}

        <p>{{component.getName()  }}</p>
        {% endfor %}
    {% set barclass = namespace(value=0) %}
    {% set barclass.value = (count.value/20) | int() %}
    <p> {{ barclass.value }}</p>
        <p> {{ assess.getName() }}</p>
      <div class="bar learning" data-skill="{{ assess.getName() }}"></div>
{#</a>#}
    {% endfor %}
    </div>
{% endblock content %}
